* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    direction: rtl;
}

header {
    height: 105px;
    width: 100;
    position: relative;
    background-color: rgb(144, 144, 144);
    background: linear-gradient(180deg, rgba(144, 144, 144, 1) 82%, rgba(170, 170, 170, 1) 93%);
}

.header_container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 900px;
    height: 105px;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}

li.sep {
    width: 4px;
    height: 21px;
    background: url(images/menu_sep.png) no-repeat 0 0px;
    margin: 0 16px;
}

.search-container {
    display: inline-block;
}

.search-container input {
    border: none;
    border-top-right-radius: 7px;
    width: 132px;
    height: 19px;
    display: inline-block;
}

.search-container button {
    background: url(images/search_button.png)no-repeat 0 0px;
    border: none;
    width: 19px;
    height: 19px;
    display: inline-block;
}

.search-form {
    display: flex;
    justify-content: flex-end;
}

.top-bar>ul {
    width: 757px;
    height: 33px;
    display: flex;
    list-style: none;
    padding: 0;
}

.header-bottom {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

.logo {
    position: absolute;
    left: 765px;
    top: 35px;
}

.top-bar a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    color: white;
    display: inline;
}

.header-top {
    margin-bottom: 30px;
}

.header-top a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin-left: 12px;
}

footer {
    border: 1px solid black;
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 38px;
    bottom: 0;
    background-color: rgb(144, 144, 144);
    background: linear-gradient(0deg, rgba(144, 144, 144, 1) 69%, rgba(203, 203, 203, 1) 97%);
}

.row {
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.line-content-1 {
    border: 1px solid black;
    width: 293px;
    height: 355px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 30px;
    border-bottom-right-radius: 5%;
}

.line-content-2 {
    border: 1px solid black;
    width: 292px;
    height: 216px;
    margin-left: 5.5px;
    margin-right: 5.5px;
    margin-top: 18px;
    border-top-right-radius: 5%;
}