*{
    box-sizing: border-box;
    margin: 0;
}
body{
    height: 100vh;
   
}
body  *{
    border: 1px solid black;
   
}

header{
    height: 105px;
    background-color: rgb(144, 144, 144);
}

footer{
    display: inline-block;
    
}
.row{
    display: flex;
    justify-content: center;
}

.line-content-1{
    width: 293px;
    height: 355px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 30px;
    border-bottom-right-radius:5% ;

}

.line-content-2{
    width: 292px;
    height: 216px;
    margin-left: 5.5px;
    margin-right: 5.5px;
    margin-top: 18px;
    border-top-right-radius:5%;
    
}